@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {

	margin: 0;
	border: 0;
	padding: 0;
	color: white;
	font-family: 'Montserrat', sans-serif;
	animation-name: all 1s;

}

body {

	background-color: black;

}

/*Header*/
/*Header style*/

header {

	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	
}

/*Header small title*/

header h2 {

	font-size: 150%;

}

/*Header big title*/

header h1 {

	font-size: 1000%;

}

/*Lines*/
/*Lines principal style*/

.line, .line-text, .lin-bottom {

	height: 2px;
	background-color: white;
	border-radius: 5px;

}

/*Secondary line-text style*/

.line-text {

	margin-top: 10px;
	margin-bottom: 10px;

}

/*Top image*/
/*Top image style*/

.top-image {

	margin-left: 10%;
	margin-right: 10%;

}

/*Main site image style*/
.top-image img 
{

	width: 100%;
	border-radius: 50px;

}

.content-text {

	margin: 15%;

}

/* Content text title */

.content-text h1 {

	margin-bottom: 10px;
	font-size: 45px;

}

/* Content text paragraph */

.content-text p {

	text-align: justify;

}

/*Content text images*/
/*Contentr text images style*/

.content-text .img, .img1 {

	
	width: 100%;
	border-radius: 30px;
	
}

.content-text .img1 {

	margin-top: 10px;

}


.container {

	margin-top: 50px;

}

.container1 {

	margin-top: -140px;

}

/*Container button*/
/*Container button style*/

.container button {

	
	width: 75%;
	height: 50px;
	border: 2px solid white;
	border-radius: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	background-color: rgb(16, 15, 15);
	transition: 0.2s ease-in-out;

}

.container button:hover {

	width: 100%;
	height: 70px;
	font-size: 25px;
	box-shadow: 0 0 10px 1px white;
	background-color: black;

}

/*Fotter style*/

.all-footer {

	margin-top: 2px;
	display: flex;

}

.footer-right {

	right: 2px;
	position: absolute;
}

.network {

	width: 40px;
	height: 40px;
	background: none;
	border-radius: 50%;
	transition: 0.3s ease-in-out;

}

.network:hover {

	transform: translateY(-2px);


}

.img-network {
	
	width: 40px;
	height: 40px;
	
}


/*Navigation bar*/
/*Navigation bar style*/

nav {

    border-bottom: 2px solid white;
    position: fixed;
    top: -180px;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
    background-color: black;
    transition: 2s ;
    
}

@keyframes test {

	0% {

		opacity: 0;

	}

}

/*Navigation button style*/

.scrollbutton {
	
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    background: none;
    font-family: 'Secular One', sans-serif;

}

/* Navigation button text style */



.scroll::after {

    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background: white;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    justify-content: center;
   
}

.scroll:hover::after {

    transform: scale(1);
}

.scroll {

    color: rgb(165, 159, 159);
    font-size: 3em;
    transition: 0.3s; 
   
}

.scroll:hover {

    color:white;

}

/*Animations*/


@keyframes all{

	0% {

		opacity: 0;
		transform: translateY(-5px);

	}

	100% {

		opacity: 1;
		transform: translateY(0px);

	}

}



@media screen and (max-width: 1100px) {

	.container button {

		font-size: 12px;

	}

}
/*Responsive for standart mobilephones*/
@media screen and (max-width: 875px) {

	header h2 {

		font-size: 15px;

	}

	header h1 {

		font-size: 60px;

	}

	.top-image img {

		border-radius: 12px;

	}

	.container {

		margin-top: 20px;

	}
	.content-text h1 {

		font-size: 25px;

	}

	.content-text p {

		text-align: left;
		font-size: 10px;

	}

	.content-text img, .content-text .img1 {

		border-radius: 15px;

	}

	.content-text button {

		width: 100%;
		height: 35px;
		font-size: 8px;

	}

	.content-text button:hover {

		height: 35px;
		font-size: 8px;
		box-shadow: none;
		background-color: black;

	}

	.network:hover {

		transform: translateY(0px);

	}

	.scrollbutton {

		/*margin-top: 1%*/
		margin-left: 10%;
		margin-right: 10%;
	}

	.scroll  {

		font-size: 20px;
		color: white;

	}

	.scroll::after {

		display: none;


	}



}

@media screen and (max-width: 400px) {

	header h1 {

		font-size: 50px;

	}

	header h2 {

		font-size: 10px;
		margin-top: -10%;

	}

	.content-text h1 {

		font-size: 20px;

	}

	.scrollbutton {

		margin-left: 2%;
		margin-right: 2%;

	}

}

@media screen and (min-width: 2000px) {

	header h1 {

		font-size: 1500%;

	}

	header h2 {

		font-size: 200%;

	}

	.line, .line-text, .lin-bottom {

		height: 6px;

	}

	.content-text p {

		font-size: 30px;

	}

	.content-text img, .content-text .img1, .top-image img {

		border-radius: 50px;

	}

	.container button {

		height: 70px;
		font-size: 25px;

	}

	.container button:hover {

		height: 80px;

	}

	nav {

		height: 100px;

	}

	.scroll {

		font-size: 5em;

	} 

}
